# ignore all folder env_capstone

env_capstone/*
# ignore __pycache__ folder

__pycache__/* 
# ignore all files with extension .pyc

*.pyc
*.env

#ignore .ipynb_checkpoints folder

.ipynb_checkpoints/*


```

